{{!< default}}

    {{!-- This is a page template. A page outputs content just like any other post, and has all the same
        attributes by default, but you can also customise it to behave differently if you prefer. --}}

    {{!-- Everything inside the #post tags pulls data from the page --}}
    {{#post}}

    <header class="main-header post-head {{#if feature_image}}" style="background-image: url({{img_url}}){{else}}no-cover{{/if}}">
        <nav class="main-nav {{#if feature_image}}overlay{{/if}} clearfix">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            {{#if @blog.navigation}}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {{/if}}
        </nav>
    </header>

    <main class="content" role="main">
        <article class="{{post_class}}">

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
            </header>

            <section class="post-content">
                {{content}}
            </section>

        </article>
    </main>
    {{/post}}
