{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="main-header post-head {{#if feature_image}}" style="background-image: url({{img_url}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if img_url}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    </header>

    <main class="content" role="main">
        <article class="{{post_class}}">

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    Posted on <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY.MM.DD"}}</time> by {{primary_author.name}} {{tags prefix=" and tagged with "}}
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                {{!-- Everything inside the #author tags pulls data from the author --}}
                {{#primary_author}}

                {{#if profile_image}}
                <figure class="author-image">
                    <a class="img" href="{{url}}" style="background-image: url({{img_url}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
                {{/if}}

                <section class="author">
                    <h4><a href="{{url}}">{{name}}</a></h4>

                    {{#if bio}}
                    <p>{{bio}}</p>
                    {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                    {{/if}}
                    <div class="author-meta">
                        {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                        {{#if twitter}}<span class="author-twitter icon-twitter"><a href="{{twitter_url}}">{{twitter}}</a></span>{{/if}}
                        {{#if facebook}}<span class="author-facebook icon-facebook"><a href="{{facebook_url}}">{{facebook}}</a></span>{{/if}}
                        {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                    </div>
                </section>

                {{/primary_author}}

                <section class="share">
                    <h4>Share this post</h4>
                    <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="hidden">Twitter</span>
                    </a>
                    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="hidden">Facebook</span>
                    </a>
                    <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="hidden">Google+</span>
                    </a>
                </section>

                {{!-- Email subscribe form at the bottom of the page --}}
                {{#if @labs.subscribers}}
                <section class="gh-subscribe">
                    <h3 class="gh-subscribe-title">Subscribe to {{@blog.title}}</h3>
                    <p>Get the latest posts delivered right to your inbox.</p>
                    {{subscribe_form placeholder="Your email address"}}
                    <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
                </section>
                {{/if}}

            </footer>

            <br /><br />
            <h5>Comments</h5>

            <div id='discourse-comments'></div>

            <script type="text/javascript">
                DiscourseEmbed = { discourseUrl: 'http://commons.ishtar-collective.net/',
                                   discourseEmbedUrl: '{{url absolute="true"}}' };

                (function() {
                    if(window.location.pathname.match(/^\/p\/.*/)) {
                        document.getElementById('discourse-comments').innerHTML = "<h4>Comments disabled during preview.</h4>"
                    } else {
                        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                    }
                })();
            </script>

        </article>
    </main>

    {{!-- Links to Previous/Next posts --}}
    <aside class="read-next">
        {{#next_post}}
        <a class="read-next-story {{#if img_url}}" style="background-image: url({{img_url}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/next_post}}
        {{#prev_post}}
        <a class="read-next-story prev {{#if image_url}}" style="background-image: url({{img_url}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/prev_post}}
    </aside>

    {{/post}}
